  

            <div class = "container"> 
                <div class="jumbotron">
                    <h1 >Welcome to the Echogram Library</h1>
                    <p class="text-justify">This web application is for fishermen and scientists 
                                            who want to add to the Echogram Library with new echogram records or simply search for existing echograms.
                    </p>
                    <p class="text-justify" style="font-weight: bold">How it works:</p> 
                    <p class="text-justify"> 
                                            1) Use the <%= link_to "Query page", querygram_path %> if you want to search for existing records, or <%= link_to "sign up", signup_path%> first and then <br><br>
                                            2) use the <%= link_to "Upload page", '#' %> if you want to upload your own record(s). </p> <br>
                    <p class="text-justify" style="font-weight: bold">Then you are ready to join the community!</p> 
                    <p><%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg", role:"button" %></p>
                </div>

                <br>
                <br>

                <h3>What is an Echogram?</h3>
            </div>


<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
    <a href="/images/echogram_20010710_161427_0038.gif/" target="_blank">
        <img src="/images/echogram_20010710_161427_0038 - resized.gif" alt="Echo1" style="width:100%" id="zoom">
        <div class="caption">
          <h6>North sea area. <br> Echogram at 38 KHz where 4040 individual herring were caught with a mean length of 25.4 cm</h6>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
    <a href="/images/echogram_20020630_140542_0038.gif/" target="_blank">
        <img src="/images/echogram_20020630_140542_0038 - resized.gif/" alt="Echo2" style="width:100%" id="zoom">
        <div class="caption">
          <h6>North sea area. <br> Echogram at 38 kHz where 12540 individual herring were caught with a mean length of 25.4 cm</h6>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/images/echogram_20020628_124235_0038.gif/" target="_blank">
        <img src="/images/echogram_20020628_124235_0038 - resized.gif/" alt="echo3" style="width:100%" id="zoom">
        <div class="caption">
          <h6>North sea area. <br> Echogram at 38 kHz where 10134 individual herring were caught with a mean length of 25.3 cm</h6>
        </div>
      </a>
    </div>
  </div>
</div>
</div>




<div class="container">

<p class="text-justify">An echogram is a two dimensional representation of objects which scatter sound in the water column. 
It can reveal the shape and position of fish schools which form echotraces. 
The two dimensions are, typically, distance on the x axis, and depth on the y axis. 
The two axes are not scaled equivalently, with the x axis on a much larger scale (a few kilometres) than the y axis (10's of metres). 
The colours represent the intensity (in decibels) of the detected echo, where the brown colour is the most intense, green and blue are weaker targets, and white space indicate empty water. 
The intensity of the echo depends on the dimension of the object (generally the bigger the object the bigger the echo) and on its composition, i.e. how different it is from water. 
The acoustic signal represented on an echogram forms the basis of acoustic surveys which are used in science to evaluate the distribution and behaviour of the marine species. 
It is also used by fishermen to determine when and where to set their nets.
<br><br>
Reference: Fernandes et al 2006 SIMFAMI_final_report
</p>


</div> 