
    <h3>echogram </h3>

    <script src="/javascripts/homepage.js"></script>
    
    <div id="home-main" class="main-box">
        <div id="goods-movie">
            <div class="movie-img-list">
                <img id="img2" class="movie-img" src="/images/Clupea harengus.bmp"/>
                <img id="img4" class="movie-img" src="/images/Sardina pilchardus.jpg"/>
                <img id="img5" class="movie-img" src="/images/Scomber scombrus.jpg"/>
                <img id="img5" class="movie-img" src="/images/Trachurus_declivis.jpg"/>
            </div>   
        </div>   
    </div>

    
    

