<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Echogram Image</th>
        <th>Echogram Filename</th>  
        <th>More Info</th>      

        <th colspan="10"></th>
      </tr>
    </thead>

    <tbody>
      <% @display.each do |item| %>
        <tr>
          <td>
              <% name = "/images/" + item.gramname.to_s %>
              <%= image_tag(name, options = {size: "200x150"})%>           
          </td>
          <td> <%= item.gramname %> </td>
          <td> details </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @display%>