
<div class = "container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Echogram Image</th>
            <th>Echogram name</th>
            <th>Frequency</th>  
          </tr>
        </thead>

        <tbody>
          <% @display.each do |item| %>
            <tr>                
              <td>                                     
                  <% name = "/images/" + item.image_filename.to_s %>
                  <%= link_to image_tag(name, options = {size: "200x150"}),
                              {:controller => "query",
                              :action=>"details",
                              :item => item.echogram_name} %>            
              </td>
              <td> <%= item.echogram_name %> </td>
              <td> 
                  <%= item.frequency.to_s + " kHz" %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <div class="col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
      <%= will_paginate @display%>
    </div>

</div>