<h1> Uploading Notes </h1>
<p>
    <ul>
        <li> Echogram image size should be less than 3M </li>
        <li> Echogram image filename format should be echogram_yyyymmdd_hhmmss_ffff.gif</li>
        <li> yyyymmdd is record date, eg.20200722 </li>
        <li> hhmmss is start record time, eg.233009 stands for 23:30:09</li>
        <li> ffff is frequency,eg. 38kHz should be 0038,120kHz should be 0120 </li>
    </ul>
</p>
