<h3> Uploading Notes </h3>
<p>
    <ul>
        <li> One single echogram image size should be within 3M </li>
        <li> Echogram image file name format should be echogram_yyyymmdd_hhmmss_ffff.gif</li>
        <li> File name should be in downcase </li>
        <li> yyyymmdd is record date, eg.20200722 </li>
        <li> hhmmss is start record time, eg.233009 stands for 23:30:09</li>
        <li> ffff is frequency,eg. 38kHz should be 0038,120kHz should be 0120 </li>
        <li> suported image format: gif,png,jpg,jpeg </li>
        <li> "_" can't be omited </li>
    </ul>
</p>

<%= link_to 'Upload a New Echogram', new_echogram_temp_path %>