<% provide(:title, @user.name) %>


<div id = "userInfo">
    <ul>
        <li>Name: <%= @user.name %> </li>
        <li>Email: <%= @user.email %> </li>
        <li>Phone:  <%= @user.phone %> </li>
    </ul>
</div>