<h3>Submitting Recieved</h3>

<strong> Dear <%= @name %>, </strong>
  <p>
    We have just recieved your Submitting, thanks for your contribution to this echogramlib database.
    Your submitting is under confirmation now. Once it is checked by our administrator, whether accpted
    or not, an email will be sent to you.
  </p>
