<div class ="container">

    <h2> Uploading Rules </h2>
    <br>

    <div class="uploadpage">    

        <p> 
        <strong>Please follow these rules to successfully upload your Echogram image</strong>
        <br><br>
        The image file name must be downcase and must have this format: echogram_yyyymmdd_hhmmss_ffff.gif
        <br><br>
        Where:
        <br>
        <li><strong>yyyymmdd</strong> is the fishing date (eg.20200722 stands for July 22th 2020)</li>
        <li><strong>hhmmss</strong> is the start fishing time (eg.233009 stands for 23:30:09)</li>
        <li><strong>ffff</strong> is frequency (eg. 38kHz should be 0038,120kHz should be 0120)</li>
        <br>
        The suported image format are gif,png,jpg,jpeg 
        <br>
        Image size should be within 3 MB 
        <br><br>
        Longitude range is (-180,180)
        <br>
        Latitude range is (-90,90)       
        </p>

    </div>

    <br>

    <h2>Upload your Echogram here <a href="#" onclick="return false;" data-toggle="popover" 
          data-trigger="focus" data-placement="left"  title="How it works?" 
          data-content="1) Add the latitude and longitude in the blank space
                        2) Select Choose file button to brows your image
                        3) Clik on the Upload button">
          <span class="glyphicon glyphicon-info-sign" style="font-size:20px;"></span></a></h2>

    <br>

    <%= render 'form', echogram_temp: @echogram_temp %> <br><br>
    <%= link_to 'Back', :back, class:"btn btn-default btn-lg", style:"margin-right:20px"%>
    <%= link_to 'My upload', echogram_temps_path, class:"btn btn-default btn-lg" %>

</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
