<h3>Add species compositions</h3>

 <br>
 <p> 
 Select species from the drop-down menu.
 <br>
 Individual number range is (1,10000)
 <br>
 Mean length is in centimeter, and range is (0,500)

 </p>


<%= render 'form', composition_temp: @composition_temp %>

<br><br>

<%= link_to 'Back', @back_url, class:"btn btn-default btn-lg" %>
  
