



<div class=" footer">         <!--<div class="mt-5 pt-5 pb-5 footer">-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-sm-6 about-company">
      <h4>EchoLib</h4> 
      <p class="pr-5 text-white-50"> The purpose of this web application is to create a searchable online database where echotraces of the major commercial fish schools in the north European sea can be stored and accessed.</p>
      <img src="/images/logo.png" style="width:50px;height:50px;float:center;" class="img-responsive">
    </div>
    <div class="col-lg-3 col-sm-6 links">
      <h4 class="mt-lg-0 mt-sm-3">Useful Links</h4>
        <ul class="list-unstyled">
          <li>- <%= link_to "Sign Up", signup_path, style:"font-size:15px" %></li>
          <li>- <%= link_to "My Uploads", echogram_temps_path,  style:"font-size:15px"%></li>
          <li>- <%= link_to "Search", querygram_path, style:"font-size:15px" %></li>
          <li>- <%= link_to "Upload", new_echogram_temp_path, style:"font-size:15px" %></li>
        </ul>
    </div>
    <div class="col-lg-4 col-sm-6 location">
      <h4 class="mt-lg-0 mt-sm-4">Contact Us</h4>
      <p>School of Biological Sciences, Zoology Building, University of Aberdeen, Tillydrone Avenue, Aberdeen, AB24 2TZ </p>
      <p class="mb-0"><span class="glyphicon">&#xe182;</span> +44 (0)1224-274166</p>
      <p><span class="glyphicon">&#x2709;</span> fernandespg@abdn.ac.uk</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50" >&copy; 2020 - University of Aberdeen </small></p>
    </div>
  </div>
</div>
</div>


<!--style code from https://codepen.io/anu-uxe/pen/drJERE by anu.uxe-->