
<div class="container body-content">
    <hr />
    <footer>
        <p style="text-align:center">&copy; 2020 - University of Aberdeen </p>
        <p style="text-align:center">contact:abc@core.com</p>
    </footer>
</div>