



<div class=" footer">         <!--<div class="mt-5 pt-5 pb-5 footer">-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-sm-6 about-company">
      <h4>Echogram Library </h4> 
      <p class="pr-5 text-white-50"> The purpose of this web application is to create a searchable online database where are stored the echotrace of the major commercial fish school in the north European sea. </p>
      <img src="/images/logo.png" style="width:50px;height:50px;float:center;" class="img-responsive">
    </div>
    <div class="col-lg-3 col-sm-6 links">
      <h4 class="mt-lg-0 mt-sm-3">Useful Links</h4>
        <ul class="list-unstyled">
          <li>- <%= link_to "Sign Up", signup_path, style:"font-size:15px" %></li>
          <li>- <%= link_to "My Uploads", echogram_temps_path,  style:"font-size:15px"%></li>
          <%# <li>- <a href="echogram_temps/index" style="font-size:15px">My uploads</a></li> %>
          <li>- <%= link_to "Search", querygram_path, style:"font-size:15px" %></li>
          <li>- <%= link_to "Upload", new_echogram_temp_path, style:"font-size:15px" %></li>
          <%# <li>- <a href="#" style="font-size:15px">Upload</a></li>  %>
        </ul>
    </div>
    <div class="col-lg-4 col-sm-6 location">
      <h4 class="mt-lg-0 mt-sm-4">Contact Us</h4>
      <p>University of Aberdeen, School of Natural and Computing Science, Aberdeen, AB24 3FX</p>
      <p class="mb-0"><span class="glyphicon">&#xe182;</span> xxxxxxx</p>
      <p><span class="glyphicon">&#x2709;</span> info@hsdf.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50" >&copy; 2020 - University of Aberdeen </small></p>
    </div>
  </div>
</div>
</div>


<!--style code from https://codepen.io/anu-uxe/pen/drJERE by anu.uxe-->